<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.voicetranslator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Voice Translator</name>
    <description>Voice recording and translation app using Deepseek R1</description>
    <author email="dev@example.com" href="http://example.com">Your Name</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
    </platform>
</widget>